<!--
<div class="ui container">
<div class="ui form">
  <div class="two fields">
    <div class="field">
      <label>Name</label>
      <input type="text" placeholder="Name">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="text" placeholder="Email">
    </div>
  </div>
</div> 
</div>-->
<script>function handleSubscribe(event){
    console.log("function was run!")
    var userEmail = $('#email').val();
    var userName = $('#name').val();
    console.log(userName);
    console.log(userEmail);
    event.preventDefault();
    $.ajax({
        url: '/newsletter',
        type: 'POST',
        data: {
                email: userEmail,
                name: userName
        },
        success: function(response){
            console.log(response);
        }
    })
}</script>


<section class="widget widget_blog_subscription">
  <form action="/newsletter" method="post" id="subscribe-blog" autocomplete="off" onSubmit="handleSubscribe(event) & showHide()">
    <p>Subscribe</p>
    <p>
      <input type="name" name="subscribe[name]" style="width: 95%; padding: 1px 2px" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" value="" id="name">
      <input type="email" name="subscribe[email]" style="width: 95%; padding: 1px 2px" placeholder="Enter your email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email address'" value="" id="email">
    </p>

<% var displayStatus = "none"; %>

<div id="hidden_div" style="display: none">
    <div id="newsletterSuccess">
    <header></header>
    <p><i class="check circle icon"></i>You're all signed up for the newsletter.</p>
  </div>
</div>

    <p>
      <input type="submit" value="Follow me!">
    </p>

  </form>


</section>
 </body>


</html>    