<html>
    <head>
        <title>Gary's Notebook</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/newsletter.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!--<script type="text/javascript">

$('form').submit(function(event){
    var userEmail = $('#email').val();
    var userName = $('#name').val();
    event.preventDefault();
    $.ajax({
        url: '/newsletter',
        type: 'POST',
        data: {
                email: userEmail,
                name: userName
        },
        success: function(response){
            console.log(response);
        }
    })
});

</script>-->



    <script type="text/javascript">
        function showHide() {
         var div = document.getElementById("hidden_div");
        if (div.style.display == 'none') {
             div.style.display = '';
        }
        else {
        div.style.display = 'none';
        }
    }
        </script>
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><a href="/"><i class="angle double right icon"></i>Kickass</a></div>
            </div>
            <a href="/" class="item">Home</a>
        </div>
                
            